<ion-app>
  <!-- <ion-menu [type]="menuType" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Maps API Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button>Close the menu</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu> -->

  <div class="ion-page" id="main-content">
    <ion-content id="AppContent">      
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <app-header (refetchServices)="populateAndLoadServices()" [isLoading]="isLoading" />
            @defer (when !isLoading; prefetch on idle) {
              <section class="list-wrapper">
                <ion-list class="services-list">
                  @for (entry of services; track entry.id) {
                    <ion-item (click)="flyToMarker(entry)">
                      <ion-avatar slot="start">
                        <img [src]="baseImg + entry.id" [alt]="entry.service_name"/>
                      </ion-avatar>
                      <ion-label button detail="true" class="ion-text-wrap">
                        <h3>{{ entry.service_name }}</h3>
                        <p>{{ entry.person_name }}</p>
                        <p>{{ entry.latitude }}, {{ entry.longitude }}</p>
                      </ion-label>
                      @if (entry.id === chosenServiceId) {
                        <ion-chip color="success">
                          <span>Selected</span>
                        </ion-chip>
                      }
                    </ion-item>
                  } @empty {
                    @if (!isLoading) {
                      <ion-item lines="none">
                        <ion-label class="ion-text-center">
                          <h3>No services in the list</h3>
                        </ion-label>
                      </ion-item>
                    }
                  }
                </ion-list>
                <div class="fade-overlay"></div>
              </section>
            } @placeholder (minimum 500ms) {
              <ion-list class="ion-padding-top">
                @for (i of dummyArray; track i) {
                  <ion-item lines="none" class="ion-padding-bottom">
                    <ion-avatar slot="start">
                      <ion-skeleton-text></ion-skeleton-text>
                    </ion-avatar>
                    <ion-skeleton-text animated style="height: 40px" />
                  </ion-item>
                }
              </ion-list>
            } @loading (minimum 1.5s) {
              <p>
                Heyy there! I am loading the services for you. Please wait a moment.
              </p>
            } @error {
              <ion-alert header="Error" [message]="error" [buttons]="['OK']" />
            }
          </ion-col>
          <ion-col>
            <app-maps [pointList]="pointList" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <div id="AppContent">
        <app-maps /> -->
        <!-- <ion-menu-toggle>
          <ion-button>Open menu</ion-button>
        </ion-menu-toggle> -->
      <!-- </div> -->
    </ion-content>
  </div>
</ion-app>
