//
ion-grid {
  height: 100%;
}

.list-wrapper {
  position: relative;
}

.services-list {
  overflow-y: auto;
  max-height: calc(100vh - 100px);

  ion-item {
    --background: #121212;

    &:hover {
      --background: #252525;
      transition: all 200ms;
      cursor: pointer;
    }

    ion-label {
      h3 {
        font-family: Quicksand, sans-serif;
        font-weight: bold;
        margin-bottom: 3px;
      }

      > p:nth-child(2) {
        margin: 0;
      }

      > :last-child {
        font-size: .8rem;
      }
    }

    ion-chip span {
      font-family: QuickSand, sans-serif;
      font-weight: 600;
    }
  }
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, transparent, #121212);
  pointer-events: none;
}
